extends base.jade
block content
   .container
      if msg:
        if msg['type'] == 'success':
          .alert.alert-success
            =msg['body']
        else
          .alert.alert-error
            =msg['body']

      .row
         .span2
            ul.nav.nav-list.well
               li.nav-header PDU Management
               li
                  a(href="#addPDU",role="button",data-toggle="modal",data-target="#add-pdu") Add PDU
               li
                  a(href="") Edit PDU
               li
                  a(href="") Remove PDU
               li.divider
         .span9.well
            table.table.table-bordered.table-hover
               thead
                  tr
                     td ID
                     td Name
                     td Registered IP
                     td Status
                     td Uptime
                     td Consumption
               tbody
                  for pdu in pdus
                    tr.clickable(id='pdu_%s'%(pdu[0]))
                      td
                        a(href="/pdugraph/%s"%(pdu[0]))=pdu[0]
                      td=pdu[2]
                      td=pdu[3]
                      td(id='stat_pdu_%s'%(pdu[0]))
                        ="Loading..."
                      td(id='uptime_pdu_%s'%(pdu[0]))
                        ="Loading..."
                      td(id='cons_pdu_%s'%(pdu[0]))
                        ="Loading..."

   .modal.hide.fade#add-pdu(role="dialog",aria-labelledby="myModalLabel",aria-hidden="true")
      .modal-header
         button.close(type="button",data-dismiss="modal",aria-hidden="false",role="dialog")&times
         h3 Add PDU
      .modal-body
        form.form-horizontal(action="/pdu/new", method="post")
            .control-group
                label.control-label(for='pdu_name') PDU Name
                .controls
                  input#pdu_name(type='text', placeholder='PDU Name',name="pdu_name")
              .control-group
                label.control-label(for='ip_address') IP Address
                .controls
                  input#ip_address(type='text', placeholder='IP Address',name="ip_address") 
              .control-group
                .controls
                  button.btn(type='submit') Add
    script(src="/static/dash-info.js")
block othernav
   ul.nav
      li
         a(href="/dashboard") Home
      li.active
         a(href="/") Admin Page

block account 
  ul.nav.pull-right
    form.navbar-search.pull-left
      input.search-query(type='text', placeholder='Search')
  ul.nav.pull-right
    li.dropdown
      a.dropdown-toggle(href="#", data-toggle='dropdown', role="button")=user
        b.caret
      ul.dropdown-menu.pull-right
        li
          a(role="menu" ,href="/settings") Settings
        li
          a(role="menu" ,href="/logout") Logout

