!!! 5
html
  head
    title Watts App - #{title}
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    //
       Bootstrap 
    link(href='static/bootstrap/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(href='static/bootstrap/css/bootstrap-responsive.min.css', rel='stylesheet', media='screen')
    link(href='static/main.css', rel='stylesheet', media='screen')
  body
    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container
          a.brand(href='#') Watts App
          ul.nav.pull-right
            form.navbar-search.pull-left
              input.search-query(type='text', placeholder='Search')
          ul.nav.pull-right
            li.dropdown
              a.dropdown-toggle(href='properties.php?type=showall', data-toggle='dropdown')=user
                b.caret
              ul.dropdown-menu.pull-right
                li
                  a(href='propertiesSearch.php') Logout
    block content
  //
     We place this at the bottom of the page so it can load faster 
  //script(src='http://code.jquery.com/jquery.js')
  script(src='static/bootstrap/js/bootstrap.min.js')  
  script(src='static/jquery-2.0.2.min.js')
  script(src='static/dashboard.js')  
