!!! 5
html
  head
    title Watts App - #{title}
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    //
       Bootstrap 
    link(href='/static/bootstrap/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(href='/static/bootstrap/css/bootstrap-responsive.min.css', rel='stylesheet', media='screen')
    link(href='/static/main.css', rel='stylesheet', media='screen')
  body


    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container  
          a.brand(href='/') Watts App
          block othernav
          block account 
    block content
    .container
      .row
        .footer.span12.text-center.is-padded
          | 2013 Power Watch          
  // We place this at the bottom of the page so it can load faster 
  block scripts
    //script(src='http://code.jquery.com/jquery.js')
    script(src='/static/jquery-2.0.2.min.js')
    script(src='/static/bootstrap/js/bootstrap.js')  
    script(src='/static/dashboard.js')  
    script
      function ajaxRequest(){
          var xmlhttp;
          if (window.XMLHttpRequest)// code for IE7+, Firefox, Chrome, Opera, Safari
              xmlhttp=new XMLHttpRequest();
          else// code for IE6, IE5
              xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
          return xmlhttp;
      }
