a(href="/pdugraph/%d"%(pdu[0]))
	.card.span3
		.is-padded
			h1=pdu[2]
			p(id="uptime_pdu%s"%(pdu[0]))
				span.label.label-alert Loading ...
			p(id="cons_pdu%s"%(pdu[0]))
				span.label.label-alert Loading ...
			p(id="stat_pdu%s"%(pdu[0]))
				span.label.label-alert Loading ...