extends base.jade
block content
  .container
    .test#test this is where you put rows and cards
    .row
      section.rowpad
    .row
      section.rowpad
        .footer.span12.text-center
          | 2013 Power Watch