extends base.jade
block content
   .container
      .row
        .is-padded
        for d in test
          include card.jade

   .modal.hide.fade#add-pdu(role="dialog",aria-labelledby="myModalLabel",aria-hidden="true")
      .modal-header
         button.close(type="button",data-dismiss="modal",aria-hidden="false",role="dialog")&times
         h3 Add PDU
      .modal-body
        form.form-horizontal(action="/pdu/new", method="post")
            .control-group
                label.control-label(for='pdu_name') PDU Name ss
                .controls
                  input#pdu_name(type='text', placeholder='PDU Name', name='pdu_name')
              .control-group
                label.control-label(for='ipaddress') IP Address
                .controls
                  input#ipaddress(type='text', placeholder='IP Address', name='ipaddress')
              .control-group
                .controls
                  button.btn(type='submit') Add

block othernav
   ul.nav
      li.active
         a(href="/dashboard") Home
      li
         a(href="/") Admin Page

block account 
  ul.nav.pull-right
    form.navbar-search.pull-left
      input.search-query(type='text', placeholder='Search')
  ul.nav.pull-right
    li.dropdown
      a.dropdown-toggle(href="#", data-toggle='dropdown', role="button")=user
        b.caret
      ul.dropdown-menu.pull-right
        li
          a(role="menu" ,href="/settings") Settings
        li
          a(role="menu" ,href="/logout") Logout
