extends base.jade
block content
   .container
      .row
         .span2
            ul.nav.nav-list.well
               li.nav-header PDU Management
               li
                  a(href="#addPDU",role="button",data-toggle="modal",data-target="#add-pdu") Add PDU
               li
                  a(href="") Edit PDU
               li
                  a(href="") Remove PDU
               li.divider
         .span9.well
            table.table.table-striped.table-bordered
               thead
                  tr
                     td ID
                     td Name
                     td Status
                     td Uptime
               tbody
                  tr
                     td 1
                     td new pdu
                     td Running
                     td 5 mins 

      .footer.span12.text-center
         | 2013 Power Watch

   .modal.hide.fade#add-pdu(role="dialog",aria-labelledby="myModalLabel",aria-hidden="true")
      .modal-header
         button.close(type="button",data-dismiss="modal",aria-hidden="false",role="dialog")&times
         h3 Add PDU
      .modal-body
        form.form-horizontal(action="/pdu/new", method="post")
            .control-group
                label.control-label(for='pdu_name') PDU Name
                .controls
                  input#pdu_name(type='text', placeholder='PDU Name')
              .control-group
                label.control-label(for='ipaddress') IP Address
                .controls
                  input#ipaddress(type='text', placeholder='IP Address')
              .control-group
                .controls
                  button.btn(type='submit') Sign in

block othernav
   ul.nav
      li.active
         a(hreaf="/") Dashboard
      li
         a(hreaf="/") View PDUs
