extends base.jade
block content
  .container
    .is-padded  
      h1.text-center #{name}
      .row
          div.offset2.span8#graph(height="400px")

block othernav
   ul.nav
      li
         a(href="/dashboard") Home
      li
         a(href="/") Admin Page

block account 
  ul.nav.pull-right
    form.navbar-search.pull-left
      input.search-query(type='text', placeholder='Search')
  ul.nav.pull-right
    li.dropdown
      a.dropdown-toggle(href="#", data-toggle='dropdown', role="button")=user
        b.caret
      ul.dropdown-menu.pull-right
        li
          a(role="menu" ,href="/settings") Settings
        li
          a(role="menu" ,href="/logout") Logout
block scripts
  | {{ super() }}
  script(src='/static/highcharts-3.0.4/js/highcharts.js')
  script
        $('#graph').highcharts({
            chart: {
                type: 'line'
            },
            title: {
                text: 'Power Consumption'
            },
            xAxis: {
                title:{
                    text: 'Time'
                }
            },
            yAxis: {
                title: {
                    text: 'Power (kW)'
                }
            },
            series: [{
                name: '#{name}',
                data: #{graphdata}
            }]
        });

        window.setInterval(function(){
          location.reload()
        },2000);
