extends index.jade
block content
	.container
		section.rowpad
			.row
				form.form-signin.login.offset4.span4
					h2.form-signin-heading Login
					input#inputEmail(type='text', placeholder='Username')
					input#inputPassword(type='password', placeholder='Password')
					//
						label.checkbox
							input(type='checkbox', value='remember-me')
							| Remember me
					br
					button.btn.btn-small.btn-primary(type='submit') Sign in