extends base.jade
block content
	.container
		section.rowpad
			.row
				form.form-signin.login.offset4.span4(action='/login', method='post')
					h2.form-signin-heading Login
					input#username(name='username', type='text', placeholder='Username')
					input#password(name='password', type='password', placeholder='Password')
					//
						label.checkbox
							input(type='checkbox', value='remember-me')
							| Remember me
					br
					button.btn.btn-small.btn-primary(type='submit') Sign in