.card {
  border-radius: 15px;
  background-color: #505050;
  color: #fff;
}
.card:hover {
  background-color: #909090;
}
.is-padded {
  padding: 10px;
}
section.rowpad {
  padding-top: 20px;
}
body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}
.form-signin {
  max-width: 300px;
  padding: 10px 0px 30px 50px;
}
.login {
  border-radius: 15px;
  background-color: #e0e0e0;
  box-shadow: 6px 6px 8px #888;
}
